/*----------- GENERAL PAGE----------*/
body {
    box-sizing: border-box;
	margin: 0;
	font-size: 100%;
	font-family: 'Prata', serif;
	font-family: 'Quicksand', sans-serif;
	background: #fff;
}
body a {
	text-decoration: none;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}

a:hover {
	text-decoration: none;
}


h1,h2,h3,h4,h5,h6 {
	margin: 0;
	font-family: 'Prata', serif;
	font-family: 'Quicksand', sans-serif;
	font-weight: 300;
}

p {
	margin: 0;
	font-size: 0.9em;
	color: #777777;
	line-height: 2em;
	letter-spacing: 1px;
	font-weight: 300;
}

ul {
	margin: 0;
	padding: 0;
}

label {
	margin: 0;
}

/*--------------------*\
        DESKTOP
\*--------------------*/ 

/*----- HEADER------*/
.top-bar{
    background: #222;
    height: 4em;
    padding: 1em;
    position: relative;
    width: 100%;
}

.log {
	float: right;
	margin-top: 5px;
}
a.sign {
	color: #a0a1a5;
	font-size: 1em;
    letter-spacing: 1px;
    margin-right: 3em;
}

.log i {
	color: #fff;
	margin-right: 0.5em;
}
.header {
	position: relative;
}

ul.navbar-nav li {
	margin: 0 6px;
	list-style: none;
}

a.navbar-brand {
	font-size: 2.5em;
	font-weight: 500;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.37);
	margin-right: 1.5em;
}

.navbar-light .navbar-brand {
	color: #333;
}

a.navbar-brand i{
	color: #dd4026;
}

.navbar-light .navbar-nav .nav-link {
	color: #888;
}

.navbar-main .navbar-nav .nav-link {
	letter-spacing: 1px;
	padding: 0.4em 1em;
}

.cool {
	display: inline-block;
	color: #000;
	text-decoration: none;
}

.cool::after {
	content: '';
	display: block;
	width: 0;
	height:2px;
	background: #dd4026;
	transition: width .3s;
}

.cool:hover::after {
	width: 100%;
}

.navbar-nav .active {
    color: #fff;
    background: #1b1b1b;
}

.dropdown-item:focus, .dropdown-item:hover {
    color: #1d1e1f;
    text-decoration: none;
    background-color: #e2e2e4;
}
.dropdown-toggle::after {
	border: none;
}

.dropdown-item {
	display: block;
	width: 100%;
	padding: 0.25rem 1.5rem;
	clear: both;
	font-weight: 400;
	color: #808890;
	text-align: inherit;
	white-space: nowrap;
	background-color: transparent;
	border: 0;
	font-size: 0.9em;
}

input.form-control {
	margin-right: 0 !important;
}

.header-search {
    width: 60%;
}

.header-search > form {
	background: #c9c9c9;
    border-radius: 50px;
}

.header-search input[type="search"] {
	outline: none;
	border: none;
	padding:12px 14px;
	color: #848484;
	font-size: 14px;
	border-right: 1px solid #eee;
	background: #fff;
	float: left;
	letter-spacing: 1px;
	border-radius: 5%;
    width: 50%;
}

.header-search .section_room select {
	padding:10px 12px;
	font-weight: normal;
	background: none;
	border: none;
	color: #848484;
	outline: none;
	font-size:15px;
	margin-bottom: 0;
	background: #ffffff;
	float: left;
	letter-spacing: 1px;
	font-family: 'Quicksand', sans-serif;
	width: 38%;
}

.header-search button.btn1 {
	color: #fff;
	border: none;
	padding:11px 0 10px 0;
	text-align: center;
	text-decoration: none;
	background: #dd4026;
	float: right;
	cursor: pointer;
	width: 12%;
	border-radius: 0px 25px 25px 0px;
}

/* -----HERO-CAROUSEL---------- */
.carousel-inner{
    height: 30em;
}
.carousel-caption {
    bottom: 8em;
    color: black;
    text-align: center;
    margin: 0 auto;
}

.carousel-item {
	height: 35em;
	background-color: rgb(170, 164, 164);
}
.carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 30em;
}

/*--------- Box items ---------- */
.box-portfolio {
	padding: 4em 0;
	position: relative;
}

.card-box{
    margin: 1em 0;
}

h4.tittle {
    color: #2c363e;
    font-weight: 500;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.37);
    padding: 0.5em;
}

.inner-items-collection{
	margin-top: 4em;
}

button.cart-icon{
    background-color: #ffffff;
    border: 0.5px solid rgba(220, 220, 220, 0.973);
    border-radius: 5%;
    float: right;
}

button.cart-icon > i{
    color: rgb(118, 193, 243);
}

/*-----------------------------------------*\
        PAGE: --> DESCRIPTION ARTICULE
\*-----------------------------------------*/ 
div#box-description {
    background-color: rgba(216, 208, 208, 0.619);
    border: 1px solid white;
    border-radius: 1em;
    float: left;
    height: 12em;
    margin: 1em 3em;
    width: 90%;
}

div#box-description > p{
    margin-top: 0.5em;
 }

 div#box-description > p.price{
    color: rgb(5, 5, 161);
 }

div#box-description > img{
   max-height: 12em;
   width: 70%;
}

div#box-images{
    margin: 1em 3em;
    height: 15em;
    width: 100%;
}

button#back-page{
    background-color: #ffffff;
    border: none;
    color: #000000;
    margin: 1em 1em;
    padding: 1em;
}

button#back-page > i{
    color: #000000;
    padding: 0 1em;
}

div#box-images > img{
    max-height: 8em;
    width: 100%;
}


/*--------------------*\
        MOBILE
\*--------------------*/ 
@media (max-width: 320px){
    a.sign {
        color: #a0a1a5;
        font-size: 0.5em;
        letter-spacing: 1px;
    }
    
    .log i {
        color: #fff;
        margin: 0 4px;
    }
    a.navbar-brand {
        font-size: 2.5em;
        font-weight: 500;
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.37);
    }
    
    /* -----HERO-CAROUSEL---------- */
    .header-search {
        width: 100%;
    }

    /* -----HERO-CAROUSEL---------- */
    .carousel-inner{
        height: 15em;
    }
    .carousel-caption {
        bottom: 10em;
        color: black;
        text-align: center;
        margin: 0 auto;
    }
    
    .carousel-item > img {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        height: 15em;
    }
    /*--------- Box items ---------- */
    .box-portfolio {
        padding: 2em 0;
        position: relative;
    }

    .card-box{
        margin: 1em 0;
    }
    
    h3.tittle {
        color: #2c363e;
        font-weight: 500;
        font-size: 3em;
        text-shadow: 0 2px 2px rgba(0, 0, 0, 0.37);
        padding: 2rem;
    }
    
    .inner-items-collection{
        margin-top: 4em;
    }

    .name-item{
        font-weight: bold;
        font-size: 65%;
    }

    .price-item{
        font-size: 75%;
    }

    /*-----------------------------------------*\
        PAGE: --> DESCRIPTION ARTICULE
    \*-----------------------------------------*/ 
    div#box-description {
        background-color: rgba(216, 208, 208, 0.619);
        border: 1px solid white;
        border-radius: 1em;
        height: 6em;
        margin: 1em;
    }
    
    div#box-description > p{
        font-size: 65%;
        margin-top: 0.5em;
    }

    div#box-description > p.price{
        color: rgb(5, 5, 161);
     }
    
    div#box-description > img{
       height: 6em;
       width: 90%;
    }

    button#back-page{
        background-color: #ffffff;
        border: none;
        color: #000000;
        margin: 1em 0;
        padding: 1em;
    }
    
    button#back-page > i{
        color: #000000;
        padding: 0 1em;
    }
    
     /*-----------------------------------------*\
        PAGE: --> PAYMENT PAGE
    \*------------------------------------------*/ 
}

@media (min-width: 321px) and (max-width: 425px){
    a.sign {
        color: #a0a1a5;
        font-size: 0.5em;
        letter-spacing: 1px;
    }
    
    .log i {
        color: #fff;
        margin: 0 4px;
    }

    a.navbar-brand {
        font-size: 2.5em;
        font-weight: 500;
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.37);
        margin-right: 3em;
    }
    /* -----HERO-CAROUSEL---------- */
    .header-search {
        width: 100%;
    }

    /* -----HERO-CAROUSEL---------- */
    .carousel-inner{
        height: 15em;
    }

    .carousel-caption {
        bottom: 15em;
        color: black;
        text-align: center;
        margin: 0 auto;
    }
    
    .carousel-item > img {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        height: 15em;
    }
    /*--------- Box items ---------- */
    .box-portfolio {
        padding: 2em 0;
        position: relative;
    }

    .card-box{
        margin: 1em 0;
    }
    
    h3.tittle {
        color: #2c363e;
        font-weight: 500;
        font-size: 3em;
        text-shadow: 0 2px 2px rgba(0, 0, 0, 0.37);
        padding: 2rem;
    }
    
    .inner-items-collection{
        margin-top: 4em;
    }

    .name-item{
        font-weight: bold;
        font-size: 65%;
    }

    .price-item{
        font-size: 75%;
    }
    
    /*-----------------------------------------*\
        PAGE: --> DESCRIPTION ARTICULE
    \*-----------------------------------------*/ 
    div#box-description {
        background-color: rgba(216, 208, 208, 0.619);
        border: 1px solid white;
        border-radius: 1em;
        height: 6em;
        margin: 1em;
    }
    
    div#box-description > p{
        font-size: 70%;
        margin-top: 0.5em;
    }

    div#box-description > p.price{
        color: rgb(5, 5, 161);
     }
    
    div#box-description > img{
       height: 6em;
       width: 90%;
    }

    button#back-page{
        background-color: #ffffff;
        border: none;
        color: #000000;
        margin: 1em 0;
        padding: 1em;
    }
    
    button#back-page > i{
        color: #000000;
        padding: 0 1em 0 0 ;
    }
    

}

/*--------------------*\
        TABLET
\*--------------------*/      
@media (min-width: 426px) and (max-width: 768px){
    a.sign {
        color: #a0a1a5;
        font-size: 0.7em;
        letter-spacing: 1px;
    }
    
    .log i {
        color: #fff;
        margin: 0 4px;
    }

    /* -----HERO-CAROUSEL---------- */
    .carousel-inner{
        height: 23em;
    }
    .carousel-caption {
        bottom: 15em;
        color: black;
        text-align: center;
        margin: 0 auto;
    }
    
    .carousel-item > img {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        height: 23em;
    }

    .name-item{
        font-weight: bold;
        font-size: 75%;
    }

    .price-item{
        font-size: 85%;
    }

    /*-----------------------------------------*\
        PAGE: --> DESCRIPTION ARTICULE
    \*-----------------------------------------*/ 
    div#box-description {
        background-color: rgba(216, 208, 208, 0.619);
        border: 1px solid white;
        border-radius: 1em;
        height: 8em;
        margin: 1em 2em;
    }

    
    div#box-description > p.price{
        color: rgb(5, 5, 161);
     }
    
    div#box-description > img{
       height: 8em;
       width: 80%;
    }

    button#back-page{
        background-color: #ffffff;
        border: none;
        color: #000000;
        margin: 1em 0;
        padding: 1em;
    }
    
    button#back-page > i{
        color: #000000;
        padding: 0 1em;
    }
    

}


